.product-table {
  margin-bottom: 1rem;
}
.heading-wrapper {
  margin-bottom: 1rem;
}
.layout-wrapper {
  background-color: white;
  padding: 0.5rem;
  .search-warpper {
    margin-bottom: 1rem;
  }
}
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
